**Deep Learning**

In [15]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import mpl_toolkits
from IPython.display import display
import warnings

In [17]:
warnings.filterwarnings('ignore')

In [18]:
data = pd.read_csv('/content/drive/My Drive/churn_banking/Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [19]:
data.shape

(10000, 14)

In [20]:
from sklearn.preprocessing import LabelEncoder
lbl = LabelEncoder()

In [21]:
cat_clm = data.select_dtypes(include='object').columns
cat_clm

Index(['Surname', 'Geography', 'Gender'], dtype='object')

In [22]:
data['Surname'] = lbl.fit_transform(data['Surname'])
data['Geography'] = lbl.fit_transform(data['Geography'])
data['Gender'] = lbl.fit_transform(data['Gender'])

In [23]:
data.head()

   RowNumber  CustomerId  Surname  ...  IsActiveMember  EstimatedSalary  Exited
0          1    15634602     1115  ...               1        101348.88       1
1          2    15647311     1177  ...               1        112542.58       0
2          3    15619304     2040  ...               0        113931.57       1
3          4    15701354      289  ...               0         93826.63       0
4          5    15737888     1822  ...               1         79084.10       0

[5 rows x 14 columns]

In [24]:
x = data.iloc[:, :13].values
y= data.iloc[:, 13].values

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [27]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [28]:
x_train =  sc.fit_transform(x_train)
x_test =  sc.fit_transform(x_test)

In [49]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
clf = Sequential()

In [57]:
clf.add(Dense(16,activation='relu', input_dim=13))
#clf.add(Dropout(rate=0.75))
clf.add(Dense(16,activation='relu'))
clf.add(Dense(1,activation='sigmoid'))

In [58]:
clf.compile(optimizer='adam', loss='binary_crossentropy', metrics='accuracy')

In [60]:
clf.fit(x_train,y_train,batch_size=100,epochs=10)

Epoch 1/10
80/80 [==============================] - 1s 2ms/step - loss: 0.4551 - accuracy: 0.8119
Epoch 2/10
80/80 [==============================] - 0s 2ms/step - loss: 0.4563 - accuracy: 0.8099
Epoch 3/10
80/80 [==============================] - 0s 2ms/step - loss: 0.4534 - accuracy: 0.8101
Epoch 4/10
80/80 [==============================] - 0s 2ms/step - loss: 0.4501 - accuracy: 0.8140
Epoch 5/10
80/80 [==============================] - 0s 2ms/step - loss: 0.4540 - accuracy: 0.8109
Epoch 6/10
80/80 [==============================] - 0s 2ms/step - loss: 0.4518 - accuracy: 0.8135
Epoch 7/10
80/80 [==============================] - 0s 2ms/step - loss: 0.4504 - accuracy: 0.8108
Epoch 8/10
80/80 [==============================] - 0s 2ms/step - loss: 0.4448 - accuracy: 0.8158
Epoch 9/10
80/80 [==============================] - 0s 2ms/step - loss: 0.4540 - accuracy: 0.8112
Epoch 10/10
80/80 [==============================] - 0s 2ms/step - loss: 0.4542 - accuracy: 0.8133

In [41]:
y_pred = clf.predict(x_test)

In [44]:
y_pred = (y_pred>0.5)

In [45]:
from sklearn.metrics import confusion_matrix

In [46]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[1510,   78],
       [ 218,  194]])